// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: gray;

body {
  background: white;
}

a {
  color: gray;
  &:hover {
    color: black;
  }
}

.button {
  color: white;
  background: blue;
}

.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.answer {
  padding: 2px 16px;
}

.question {
  padding: 2px 16px;
}

